body {
	background-image: url('../images/second-heading.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
	text-align: center;
	font-family: 'Gudea', sans-serif;
	font-size: 18px;
	margin: 0 auto;
}

.jumbotron {
	background: transparent;
	font-family: 'Shrikhand', cursive;
	color: white;
	text-shadow: 3px 3px 1px #000000;
}

#content {
	text-align: center;
}

.form-group {
	margin-top: 30px;
}

#player-name {
	margin-top: 10px;
}

#achievements-panel, #chat, #content-panel, #scoreboard-panel, .col {
	margin: 2.5%;
}

#scoreboard-table {
	text-align: center;
}

.answerChoice, #startTheGame {
	background-color: green;
	color: white;
	border-radius: 5px;
	margin: 20px;
	padding: 10px;
}

.answerChoice:hover {
	opacity: 0.5;
}

#totalTime {
	font-family: 'Shrikhand', cursive;
	font-size: 24px;
	color: #ff0033;
	margin-top: 30px;
}

#answerDiv {
	font-family: 'Shrikhand', cursive;
	font-size: 24px;
	color: green;
	margin-bottom: 30px;
}

#player1Name, #totalTime1, #totalScore1 {
	font-weight: bold;
	color: #e64100;
}

#player2Name, #totalTime2, #totalScore2 {
	font-weight: bold;
	color: #00a5e6;
}

.player1FinalStyle {
	color: #e64100;
	font-size: 24px;
	font-weight: bolder;
}

.player2FinalStyle {
	color: #00a5e6;
	font-size: 24px;
	font-weight: bolder;
}

.button-group {
	vertical-align: middle;
	text-align: center;
}

.topic-button {
	margin: 20px auto;
	border: 1px solid #cccccc;
	border-radius: 10px;
	width: 80%;
	height: 10%;
	color: white;
	text-shadow: 3px 3px .5px #000000;
	font-size: 24px;
	font-weight: bold;
	display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
}

.topic-button:hover {
	border: 3px solid red;
	font-weight: bolder;
	opacity: 0.7;
  	letter-spacing: 1px;
  	cursor: pointer;
}

#prompt {
	font-size: 24px;
	font-weight: bold;
}

#player1Name, #player2Name {
	font-size: 24px;
}

.fadeIn:first-child {
	background-color: #ffff99;
}

#achievements {
    height: 150px;
    overflow: scroll;
}

#scoreboard {
	max-height: 200px;
	overflow: scroll;
}

#chatBox {
	width: 100%;
	margin: 10px auto;
	border-collapse: separate;
    border-spacing: 10px;
}

#displayRow {
	padding: 5px;
	height: 200px;
	overflow: scroll;
	display: block;
	width: 100%;
	background: white;
	color: #337ab7;

}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}
